<h1> Youngest director </h1>


The youngest director in our dataset right now is <%= @youngest_director_name %> , born on <%= @youngest_director_dob%>.

<p>(<a href="http://strftime.net/" target="_blank">http://strftime.net/</a> is handy for putting together the formatting strings for formatting strings for the .strftime method.)
