<h1> Oldest director </h1>

The eldest director in our dataset right now is <%= @oldest_director_name %> , born on <%= @oldest_director_dob%>.

<p>(<a href="http://strftime.net/" target="_blank">http://strftime.net/</a> is handy for putting together the formatting strings for formatting strings for the .strftime method.)
